[Unit]
Description=JustDoIt task-service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/justdoit
ExecStart=/usr/bin/java -jar /opt/justdoit/task-service.jar
Environment="CORS_ALLOWED_ORIGINS=https://sonallycecilia.github.io"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
