[Unit]
Description=JustDoIt schedule-service
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/opt/justdoit/current
EnvironmentFile=/opt/justdoit/.env
ExecStart=/usr/bin/java -jar /opt/justdoit/current/schedule-service.jar
Restart=always
RestartSec=10
SuccessExitStatus=143
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
